<?xml version="1.0" encoding="UTF-8"?>
<catalog>
  <categories>
    <category>
      <id>org.eclipse.m2e.discovery.category.lifecycles</id>
      <name>Lifecycle Mappings</name>
      <description>Lifecycle Mappings</description>
      <relevance>30</relevance>
      <icon>
        <size>48</size>
        <path>images/extras-48.png</path>
      </icon>
      <groupId>lifecycles</groupId>
    </category>
    <category>
      <id>org.eclipse.m2e.discovery.category.scm</id>
      <name>m2e Team providers</name>
      <description>m2e integration with Eclipse team providers</description>
      <relevance>10</relevance>
      <icon>
        <size>48</size>
        <path>images/extras-48.png</path>
      </icon>
    </category>
    <category>
      <id>org.eclipse.m2e.discovery.category.maven</id>
      <name>embedded maven runtimes</name>
      <description>embedded maven runtimes</description>
      <relevance>10</relevance>
      <icon>
        <size>48</size>
        <path>images/extras-48.png</path>
      </icon>
    </category>
  </categories>
  
  <catalogItems>  
  {{#catalogItems}}
    {{{.}}}
  {{/catalogItems}}
  </catalogItems>

</catalog>
